* {
    font-family: Helvetica, Arial, sans-serif;
}
html, body {
    margin: 0;
}
textarea, input { outline: none; }


/* header */

#header {
    background-color: #f8f8f8;
    border-bottom: 1px solid #d0d0d0;
    height: 36px;
}
#headerText {
    height: 36px;
    margin: 0 auto;
    width: 1000px;
    line-height: 36px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: #a0a0a0;
}
#login {
    float: right;
    font-weight: normal;
    text-transform: none;
}
#manageUsers {
    text-decoration: underline;
    cursor: pointer;
}
#manageUsers:hover {
    color: #4C7CBA;
}

/* title */

#title {
    border-bottom: 1px solid #d0d0d0;
    height: 65px;
    margin-bottom: 20px;
}

#titleText {
    height: 65px;
    margin: 0 auto;
    width: 1000px;
    line-height: 65px;
    font-size: 20px;
    color: #909090;
}
#titleText span.clickable {
    color: #4C7CBA;
    cursor: pointer;
}
#titleText strong {
    color: #000000;
}
#refresh {
    float: right;
    font-size: 25px;
    color: #ffffff;
    height: 42px;
    line-height: 43px;
    background-color: #e4e4e4;
    width: 42px;
    text-align: center;
    border-radius: 5px;
    margin-top: 11px;
    cursor: pointer;
}
#refresh:hover {
    background-color: #4C7CBA;
}
#logo:hover {
    color: #4C7CBA;
    cursor: pointer;
}

/* tab bar */

.tab {
    height: 36px;
    border-bottom: 1px solid #d0d0d0;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.tabBar {
    height: 36px;
    line-height: 36px;
    background-color: #ffffff;
    border: 1px solid #d0d0d0;
    font-size: 16px;
    padding: 0 20px;
    float: left;
    color: #888888;
    margin-left: -1px;
    border-radius: 5px 5px 0 0;
    box-sizing: border-box;

}
.tabBarSelected {
    color: #000000;
    font-weight: bold;
    border-bottom: 0;
}
.tabBar:first-child {
    margin-left: 10px;
}

/* login */

#username, #password, #newUsername, #newPassword {
    display: block;
    width: 200px;
    font-size: 16px;
    padding: 6px 6px;
    border: 1px solid #d0d0d0;
    margin: 0 0 5px 0;
}
#username:focus, #password:focus, #newUsername:focus, #newPassword:focus {
    border-color: #4C7CBA;
}
#submitLogin, #submitNewUser {
    width: 200px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    padding: 6px 6px;
    background-color: #4C7CBA;
    border: 1px solid #4C7CBA;
    cursor: pointer;
    border-radius: 4px;
    margin: 10px 0 20px 0;
}
#submitNewUser {
    font-weight: normal;
    color: #444444;
    background-color: #e4e4e4;
    border-color: #e4e4e4;
}

/* view */

#view {
    width: 1000px;
    margin: 0 auto;
}

/* table view */

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
}
tr.static {
    height: 36px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #e4e4e4;
}
tr.clickable {
    height: 36px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #e4e4e4;
    cursor: pointer;
}
tr.clickable:hover {
    background-color: #ffffff;
}
tr.heading {
    border-bottom: 1px solid #d0d0d0;
    height: 27px;
}
tr.descriptors {
    height: 35px;
    border-bottom: 1px solid #d0d0d0;
}
tr:last-child {
    border-bottom: 1px solid #d0d0d0;
}
td, th {
    font-size: 13px;
    padding: 0px 6px;
    color: #666666;
    text-align: left;
}
tr.heading td {
    font-size: 12px;
    color: #444444;
    font-weight: bold;
}
tr.descriptors th {
    font-weight: normal;
    color: #aaaaaa;
    font-size: 11px;
    text-transform: uppercase;
}
td:first-child, th:first-child {
    padding-left: 8px;
}
.blue {
    color: #4C7CBA;
    font-weight: bold;
}
span.user {
    padding: 5px 10px;
    background-color: #e4e4e4;
    border-radius: 15px;
    text-align: center;
}
span.add, span.delete {
    color: #aaaaaa;
    cursor: pointer;
    font-weight: normal;
    letter-spacing: 1px;
    padding-left: 3px;
}
span.add:hover, span.delete:hover {
    color: #4C7CBA;
}

/* repository view */

#createRepository {
    width: 200px;
    text-align: center;
    font-size: 16px;
    padding: 6px 6px;
    background-color: #e4e4e4;
    border: 1px solid #e4e4e4;
    cursor: pointer;
    border-radius: 4px;
    margin: 20px 0 0 0;
    color: #808080;
    font-size: 14px;
}

#createRepository:hover {
    background-color: #4C7CBA;
    color: #ffffff;
    border: 1px solid #4C7CBA;


}

