html, body {
    margin: 0;
    background-color: #fcfcfc;
}

textarea, input { outline: none; }

/* error overlay */

#errorOverlay {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    z-index: 1000;
    width: 500px;
    height: 150px;
    background-color: #404040;
    border-radius: 10px;
    margin-left: -250px;
    margin-top: -75px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
}

#errorOverlayTitle {
    position: absolute;
    left: 20px;
    right: 20px;
    top: 20px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
}

#errorOverlayDescription {
    position: absolute;
    left: 20px;
    right: 20px;
    top: 57px;
    font-size: 15px;
    color: #ffffff;
    text-align: center;
}

#errorOverlayClose {
    position: absolute;
    left: 200px;
    right: 200px;
    bottom: 20px;
    text-align: center;
}

/* header bar */

#headerBar {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #ffffff;
    background-color: #404040;
    height: 50px;
}

#headerBar div {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    cursor: pointer;
    transition: background-color 0.1s;
}

#headerBar div:hover {
    background-color: #386fcf;
}

#headerBar div.headerBarLeft {
    float: left;
}

#headerBar div.headerBarRight {
    float: right;
}

#headerBar #headerLogo {
    background-image: url('/img/cloudstudio.png');
    background-size: 30px 30px;
    background-position: 20px 10px;
    background-repeat: no-repeat;
    padding-left: 62px;
}

/* content */

#content {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #000000;
}

/* navigation bar */

#navigationBar {
    height: 40px;
    background: linear-gradient(#ffffff 0%, #f0f0f0 100%);
    border-bottom: 1px solid #b0b0b0;
    color: #808080;
    font-size: 14px;
}

#navigationBar div {
    height: 40px;
    line-height: 40px;
    padding: 0 17px 0 20px;
}

#navigationBar div strong {
    font-weight: 400;
    color: #404040;
}

#navigationBarLocation {
    float: left;
}

#navigationBar .clickable {
    color: #386fcf;
    font-weight: 400;
    padding: 2px 3px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.1s, color 0.1s;
}

#navigationBar .clickable:hover {
    color: #fdfdfd;
    padding: 2px 3px;
    background-color: #386fcf;
}

#navigationBar strong {
    color: #404040;
    font-weight: 400;
    padding: 2px 3px;
}

#navigationBarLogin {
    float: right;
}

/* title bar */

#titleBar {
    height: 80px;
    line-height: 80px;
    padding: 0 20px;
    font-size: 24px;
    font-weight: 600;
    border-bottom: 2px solid #386fcf;
    color: #386fcf;
    background-color: #ffffff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

/* login */

#loginSplash {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #c0e2fa;
    background-position: center center;
    background-size: cover;
}

#loginFooter {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 27px 20px 20px 20px;
    color: rgba(0, 0, 0, 0.5);
    line-height: 150%;
    text-align: center;
}

#loginFooter a {
    color: #386fcf;
}

#loginFooter a:hover {
    text-decoration: none;
}

#loginBrand {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    color: #404040;
    margin-top: -200px;
    font-weight: 400;
    font-size: 50px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

#loginBox {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -90px;
    margin-left: -200px;
    background-color: #ffffff;
    padding: 24px 26px;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}


#loginBox p {
    margin: 5px 0;
}

/* signup */

#signupSplash {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d0d0d0;
    background-position: center center;
    background-size: cover;
}

#signupBrand {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    color: #404040;
    margin-top: -180px;
    font-weight: 300;
    font-size: 40px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

#signupBox {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -70px;
    margin-left: -200px;
    background-color: #ffffff;
    padding: 24px 26px;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}


#signupBox p {
    margin: 5px 0;
}

/* repository overview */

#repositoryList {
    margin-top: 20px;
    padding: 0 10px;
    column-count: 2;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    -webkit-column-gap: 0; /* Chrome, Safari, Opera */
    -moz-column-gap: 0; /* Firefox */
    column-gap: 0;
}

#repositoryList div.repositoryListItem {
    width: 100%;
    display: inline-block;
}

#repositoryList div.repositoryListBlock {
    margin: 0 10px 20px 10px;
    border: 1px solid #b0b0b0;
    cursor: pointer;
    padding: 20px 20px 0 20px;
    transition: background-color 0.3s, border-color 0.3s;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    background-color: #ffffff;
    background-image: url('/img/repository.png');
    background-size: 36px 36px;
    background-position: 17px 14px;
    background-repeat: no-repeat;
}

#repositoryList div.repositoryListBlock:hover {
    border-color: #386fcf;
    background-color: #c0e2fa;
}



#repositoryList div.repositoryListBlock span.userOwner {
    color: rgba(255, 255, 255, 1);
    border: 0;
    padding: 4px 9px;
    background-color: rgba(0, 0, 0, 0.4);
    transition: color 0.3s;
}


#repositoryList div.repositoryListBlock:hover span.userOwner {
    color: #DCEDFA;
}

#repositoryList div.repositoryListBlock span.editRepository {
    float: right;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 3px;
    transition: color 0.2s, background-color 0.2s;
}

#repositoryList div.repositoryListBlock span.editRepository:hover {
    background-color: #386fcf;
    color: #ffffff;
}

#repositoryList div.repositoryListBlock div.description {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
    margin: 0 0 40px 0;
}
#repositoryList div.repositoryListBlock h1 {
    font-weight: 400;
    font-size: 28px;
    margin: 0 0 30px 0;
    padding-left: 44px;
}

#repositoryList div.repositoryListBlock h2 {
    font-weight: 300;
    font-size: 14px;
    margin: 0 0 8px 0;
    color: rgba(0, 0, 0, 0.3);
}

#repositoryList div.repositoryListBlock p {
    font-size: 14px;
    margin: 0 0 25px 0;
    color: rgba(0, 0, 0, 0.5);
}

#createRepository {
    margin-top: 4px;
    margin-bottom: 3px;
}

/* filter box */

#filterBox {
    padding: 0 10px;
    background-color: #e0e0e0;
    border-bottom: 1px solid #d0d0d0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1) inset;
}

#filterBox .filterBoxBlock {
    padding: 7px 10px 7px 10px;
    float: left;
    font-size: 12px;
    color: #404040;
    line-height: 15px;
}

#filterBox .filterBoxUserFilter {
    width: 400px;
}

#filterBox .filterBoxCompareTo {
    width: 180px;
}

#filterBox .filterBoxSeverity {
    width: 150px;
}

#filterBox .filterBoxCheckboxes {
    font-size: 13px;
    width: auto;
    padding: 12px 10px 10px 10px;
    float: right;
}

#filterBox .filterBoxLastOriginUpdate {
    font-size: 14px;
    width: auto;
    padding: 22px 10px 10px 10px;
    float: right;
    color: #404040;
}

#filterBox .filterBoxBlock select {
    width: 100%;
}

/* branch list */

#branchListContainer {
    margin: 10px 20px 20px 20px;
}

#branchList {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    border-bottom: 1px solid #b0b0b0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    border-top: 2px solid #386fcf;
}

#branchListHeader {
    width: 100%;
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    padding: 0;
    border-spacing: 0;
}

#branchListHeader div {
    display: table-cell;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 0 20px;
    color: #808080;
    height: 40px;
}

#branchList tr.branchListItem {
    background-color: #ffffff;
    border-top: 1px solid #b0b0b0;
    border-left: 1px solid #b0b0b0;
    border-right: 1px solid #b0b0b0;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

#branchList tr.branchListItem:hover {
    border-top: 1px solid #386fcf;
    border-bottom: 1px solid #386fcf;
    border-left: 1px solid #386fcf;
    border-right: 1px solid #386fcf;
    background-color: #c0e2fa;
}

#branchList h1 {
    font-weight: 300;
    font-size: 14px;
    margin: 8px 0 0 0;
    color: rgba(0, 0, 0, 0.5);
}

#branchList h1:first-child {
    margin: 0;
}

#branchList p {
    margin: 0;
}

#branchList tr.branchListItem td {
    padding: 20px;
}

#branchList tr.branchListItem td.branchListBranchName {
    font-size: 16px;
    font-weight: 400;
    background-image: url('/img/branch.png');
    background-size: 30px 30px;
    background-position: 20px center;
    background-repeat: no-repeat;
    padding-left: 58px;
}

/* file list */

#fileListContainer {

    margin: 10px 20px 20px 20px;
}

#fileListHeader {
    width: 100%;
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    padding: 0;
    border-spacing: 0;
    border-bottom: 2px solid #386fcf;
}

#fileListHeader .fileFileNameHeader {
    display: table-cell;
    width: 400px;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 0 20px;
    color: #808080;
    height: 40px;
}

#fileListHeader .fileFileConflictsHeader {
    display: table-cell;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 0 20px;
    color: #808080;
    height: 40px;
}

#fileListHeader .toggleFiles {
    transition: color 0.2s;
    cursor: pointer;
}

#fileListHeader .toggleFiles:hover {
    color: #386fcf;
}

#fileList {
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid #b0b0b0;
    border-top: 0;
    box-sizing: border-box;
}

#fileList .fileFolderName {
    height: 37px;
    line-height: 37px;
    cursor: pointer;
    border-top: 1px solid #e0e0e0;
    transition: background-color 0.3s;
    background-image: url('/img/folder.png');
    background-size: 30px 30px;
    background-position: 10px center;
    background-repeat: no-repeat;
    font-weight: 400;
}

#fileList .fileFolderName:hover {
    background-color: #f0f0f0;
}

#fileList .fileFolderNameYellow {
    background-image: url('/img/folder_yellow.png');
}

#fileList .fileFolderNameRed {
    background-image: url('/img/folder_red.png');
}

/*
    this will have all folders closed by default in file view
    #fileList .fileFolderContent {
        display: none;
    }
*/

#fileList .fileFile {
    padding: 10px;
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    padding: 0;
    border-spacing: 0;
    border-top: 1px solid #e0e0e0;
}

#fileList .fileFileName {
    display: table-cell;
    width: 400px;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 0 20px;
    background-image: url('/img/file.png');
    background-size: 30px 30px;
    background-position: 10px center;
    background-repeat: no-repeat;
}

#fileList .fileFileNameYellow {
    background-image: url('/img/file_yellow.png');
}

#fileList .fileFileNameNameRed {
    background-image: url('/img/file_red.png');
}

#fileList .fileFileConflicts {
    display: table-cell;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 0 20px;
}

/* content awareness */

#contentDiffContainer {
    margin: 10px 20px 20px 20px;
}

#contentDiff {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);

    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid #b0b0b0;
    border-top: 0;
    padding: 0;
    border-spacing: 0;
}

#contentDiff td {
    padding: 0;
    border-left: 1px solid #b0b0b0;
}

#contentDiffHeader {
    width: 100%;
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    padding: 0;
    border-spacing: 0;
    border-bottom: 2px solid #386fcf;
}

#contentDiffHeader div {
    display: table-cell;
    width: 400px;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 0 20px 0 45px;
    color: #808080;
    height: 40px;
}

#contentDiff .diffHeader.diffNumberColumn {
    border-left: 1px solid #b0b0b0;
}

#contentDiff .diffNumberColumn {
    width: 40px;
}

#contentDiff .diffNumber {
    width: 38px;
    text-align: right;
    font-family: "Courier New";
    font-size: 14px;
    line-height: 14px;
    padding: 2px 2px;
    color: #a0a0a0;
    box-sizing: border-box;
    text-align: right;
}

#contentDiff .diffBox {
    overflow-x: scroll;
    white-space: nowrap;
    background-color: #ffffff;
}

#contentDiff .diffLine {
    font-family: "Courier New";
    font-size: 14px;
    line-height: 14px;
    padding: 2px 4px;
    color: #202020;
    white-space: nowrap;
}

#contentDiff .diffAdd {
    background-color: rgba(0, 255, 0, 0.4);
}

#contentDiff .diffPad {
    background-color: rgba(0, 0, 0, 0.1);
}

#contentDiff .diffModify {
    background-color: rgba(0, 0, 255, 0.4);
}

#contentDiff .diffConflict {
    background-color: rgba(255, 0, 0, 0.4);
}

/* branch list */

#userListContainer {
    margin: 10px 20px 20px 20px;
}

#userList {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    border-bottom: 1px solid #b0b0b0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    border-top: 2px solid #386fcf;
}

#userListHeader {
    width: 100%;
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    padding: 0;
    border-spacing: 0;
}

#userListHeader div {
    display: table-cell;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 0 20px;
    color: #808080;
    height: 40px;
}

#userList tr.userListItem {
    background-color: #ffffff;
    border-top: 1px solid #b0b0b0;
    border-left: 1px solid #b0b0b0;
    border-right: 1px solid #b0b0b0;
    transition: background-color 0.3s, border-color 0.3s;
}

#userList tr.userListItem td {
    padding: 2px 20px;
}

/* user labels */

span.userSmall {
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 3px 8px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    margin: 3px 0;
}

span.user {
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 7px 12px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    margin: 3px 0;
}

span.userGreen {
    border: 1px solid rgba(0, 180, 0, 1);
    background-color: rgba(0, 255, 0, 0.5);
}

span.userYellow {
    border: 1px solid rgba(220, 160, 0, 1);
    background-color: rgba(255, 200, 0, 0.5);
}

span.userRed {
    border: 1px solid rgba(220, 0, 40, 1);
    background-color: rgba(255, 0, 20, 0.5);
}


span.userClickable {
    transition: background-color 0.1s, border-color 0.1s;
    cursor: pointer;
}
span.userClickable:hover {
    border-color: #386fcf;
    background-color: #c0e2fa;
}


span.userClickableRed {
    transition: background-color 0.1s, border-color 0.1s;
    cursor: pointer;
}
span.userClickableRed:hover {
    border: 1px solid rgba(220, 0, 40, 1);
    background-color: rgba(255, 0, 20, 0.5);
    text-decoration: line-through;
}

/* general */

input[type=text], input[type=password] {
    background-image: linear-gradient(#eeeeee 1%, #ffffff 15%);
    border: 1px solid #aaa;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    padding: 10px;
    font-family: Helvetica, Arial, sans-serif;
    border-radius: 3px;
    font-weight: 400;
}

input[type=text]:focus, input[type=password]:focus {
    border: 1px solid #386fcf;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.inline {
    display: inline-block;
}

input.shortInput {
    width: 200px;
}

.smallGreyText {
    font-weight: 300;
    font-size: 12px;
    color: #808080;
}

::-webkit-input-placeholder { font-weight: 300; }
::-moz-placeholder { font-weight: 300; } /* firefox 19+ */
:-ms-input-placeholder { font-weight: 300; } /* ie */
input:-moz-placeholder { font-weight: 300; }

#view {
    line-height: 20px;
    margin: 20px;
}

#view h2 {
    margin-top: 27px;
}

span.modify {
    border: 1px solid #b0b0b0;
    font-size: 13px;
    padding: 3px 6px;
    background-image: linear-gradient(#ffffff 1%, #eeeeee 100%);
    cursor: pointer;
    border-radius: 3px;
    margin-left: 5px;
}

span.modify:hover {
    background-image: linear-gradient(#386fcf 1%, #386fcf 100%);
    border: 1px solid #386fcf;
    color: #ffffff;
}

div.button, span.button {
    display: inline-block;
    border: 1px solid #b0b0b0;
    font-size: 16px;
    padding: 10px;
    background-image: linear-gradient(#ffffff 1%, #eeeeee 100%);
    cursor: pointer;
    border-radius: 3px;
    font-weight: 400;
    color: #404040;
}
div.button.buttonHighlight, div.button:hover, span.button.buttonHighlight, span.button:hover {
    background-image: linear-gradient(#386fcf 1%, #386fcf 100%);
    border: 1px solid #386fcf;
    color: #ffffff;
}

span.button {
    padding: 8px 10px;
}


div.clear {
    clear: both;
}

span.yes {
    width: 40px;
    text-align: center;
    background-color: rgba(0, 255, 0, 0.5);
    color: #000000;
    border-radius: 100px;
    padding: 5px;
    display: inline-block;
}

span.no {
    width: 40px;
    text-align: center;
    background-color: rgba(230, 230, 230, 1);
    color: #404040;
    border-radius: 100px;
    padding: 5px;
    display: inline-block;
}

span.userOwnerBig {
    color: rgba(255, 255, 255, 1);
    border: 0;
    padding: 8px 13px;
    background-color: rgba(0, 0, 0, 0.4);
}

.emptyView {
    font-size: 16px;
    color: #808080;
}

#repositoryList .emptyView {
    padding: 10px;
}

#branchListContainer .emptyView, #fileListContainer .emptyView {
    padding-top: 10px;
}
