
<div id="signupSplash">

	<div id="signupBrand">
		Sign Up for CloudStudio!
	</div>
	<div id="signupBox">
		<p>Account created successfully!</p>
		<p><span class="button" id="gotoLogin">Log in</span></p>
	</div>
</div>
