<div id="header">
	<div id="headerLogin">
		Logged in as <strong><%= login.username %></strong>
		<% if (login.isAdmin) { %> &mdash; <span id="manageUsers">Manage users</span><% } %>
	</div>
	<span id="headerLogo">RTCA Web Interface</span>
</div>
<div id="navigationBar">
	<span id="refresh">Refresh</span>
	<span id="navigationLocation"><span class="loadRepositoryView clickable">All Repositories</span> &mdash; Repository: <strong><%= repositoryAlias %></strong></span>
</div>
<div id="view">

	<table id="invisibleTable">
		<tr>
			<td>
				Filter users:<br>
				<select id="usersFilter" multiple>
					<option<% if (selectedUsers.length == 0) { %> selected<% } %>></option>
					<% for (var i = 0; i < repositoryUsers.length; i++) { %>
						<% if (repositoryUsers[i] == 'origin') continue; %>
						<option value="<%= repositoryUsers[i] %>"<% if (selectedUsers.indexOf(repositoryUsers[i]) >= 0) { %> selected<% } %>><%= repositoryUsers[i] %></option>
					<% } %>
				</select>
			</td>
			<td></td>
			<td></td>
		</tr>
	</table>

	<table id="branchTable">
	</table>
</div>
