<div id="header">
	<div id="headerLogin">
		Logged in as <strong><%= login.username %></strong>
		<% if (login.isAdmin) { %> &mdash; <span id="manageUsers">Manage users</span><% } %>
	</div>
	<span id="headerLogo">CloudStudio</span>
</div>
<div id="navigationBar">
	<span id="navigationLocation"><span class="loadRepositoryView clickable">All Repositories</span> &mdash; <strong>Create new repository</strong></span>
</div>
<div id="view">

	<table id="invisibleTable">
		<tr>
			<td>
				Repository alias:<br>
				<input id="repositoryAlias" type="text"><br><br>
				URL to repository:
				<input id="repositoryUrl" type="text"><br><br>
				<div id="submitCreateRepository" class="button">Create</div>
			</td>
			<td></td>
			<td></td>
		</tr>
	</table>

</div>
