<div id="header">
	<div id="headerText">
		<div id="login">
			Logged in as: <strong><%= login.username %></strong>
			<% if (login.isAdmin) { %>(Administrator) &nbsp;|&nbsp; <span id="manageUsers">Manage users</span><% } %>
		</div>
		<span id="logo">RTCA Web Interface</span>
	</div>
</div>
<div id="title">
    <div id="titleText">
    	<span class="repositoryViewButton clickable">Repositories</span> / <strong>Create repository</strong>
    </div>
</div>
<div id="view">
	<input id="repositoryalias" type="text" placeholder="Repository alias">
	<input id="repositoryurl" type="password" placeholder="URL to repository">
	<div id="submitCreateRepository">Create</div>
</div>
