<div id="header">
	<div id="headerText">
		RTCA Web Interface
	</div>
</div>
<div id="title">
    <div id="titleText">
    	<span class="repositoryViewButton clickable">Repositories</span> / <span class="fileConflictsViewButton clickable"><%= repositoryAlias %></span> / <strong><%= filename %></strong>
    </div>
</div>
<div id="view">
	<table id="fileview">
	</table>
</div>
