<div id="header">
	<div id="headerText">
		RTCA Web Interface
	</div>
</div>
<div id="title">
    <div id="titleText">
    	<strong>Login</strong>
    </div>
</div>
<div id="view">
	<input id="username" type="text" placeholder="Username">
	<input id="password" type="password" placeholder="Password">
	<div id="submitLogin">Login</div>
	<input id="newUsername" type="text" placeholder="Create new username">
	<input id="newPassword" type="password" placeholder="Create new password">
	<div id="submitNewUser">Create new user</div>
</div>
