<?xml version="1.0" encoding="UTF-8"?>
<config>
    <username>john</username>
    <password>johnpw</password>
    <serverUrl>http://127.0.0.1:7330</serverUrl> <!-- don't put a dash at the end -->
    <repositories>
        <repository>
            <alias>test</alias>
            <localPath>/Users/novocaine/Documents/masterthesis/testsandpit/john</localPath>
        </repository>
    </repositories>
    <resubmitInterval>0</resubmitInterval> <!-- in seconds; if 0 it only submits once -->
</config>
