<div id="navigationBar">
	<div id="navigationBarLocation">Location: <span class="loadRepositoryView clickable">Repository Overview</span> &mdash; Repository: <strong><%= repositoryAlias %></strong></div>
	<div id="navigationBarLogin">Logged in as <strong><%= login.username %></strong></div>
</div>
<div id="titleBar">
	Branch Level Awareness
</div>
<div id="view">

	<table id="invisibleTable">
		<tr>
			<td>
				Filter users:<br>
				<select id="usersFilter" multiple>
					<option<% if (selectedUsers.length == 0) { %> selected<% } %>></option>
					<% for (var i = 0; i < repositoryUsers.length; i++) { %>
						<% if (repositoryUsers[i] == 'origin') continue; %>
						<option value="<%= repositoryUsers[i] %>"<% if (selectedUsers.indexOf(repositoryUsers[i]) >= 0) { %> selected<% } %>><%= repositoryUsers[i] %></option>
					<% } %>
				</select>
			</td>
			<td></td>
			<td></td>
		</tr>
	</table>

	<table id="branchTable">
	</table>
</div>
