<div id="navigationBar">
	<div id="navigationBarLocation">Location: <span class="loadRepositoryView clickable">Repository Overview</span> &mdash; Repository: <strong><%= repositoryAlias %></strong></div>
	<div id="navigationBarLogin">Logged in as <strong><%= login.username %></strong></div>
</div>
<div id="titleBar">
	Branch Level Awareness
</div>

<div id="filterBox">
	<div id="filterBoxBlock">
		Filter users: <%= JSON.stringify(repositoryUsers) %>
	</div>
</div>

<div id="branchListContainer"></div>
