<div id="navigationBar">
	<div id="navigationBarLocation">Location: <span class="loadRepositoryView clickable">Repository Overview</span> &mdash; Repository: <span class="loadBranchView clickable"><%= repositoryAlias %></span> &mdash; Branch: <span class="loadFileView clickable"><%= branch %></span> &mdash; File: <strong><%= filename %></strong><% if (showUncommitted) { %> (uncommitted)<% } %></div>
	<div id="navigationBarLogin">Logged in as <strong><%= login.username %></strong></div>
</div>
<div id="titleBar">
	Content Level Awareness
</div>


<div id="filterBox">
	<div class="filterBoxBlock filterBoxCheckboxes">
		<input type="checkbox" id="uncommittedFilter"<% if (showUncommitted) { %> checked <% } %>> <label for="uncommittedFilter">View uncommitted files</label><br>
		<input type="checkbox" id="conflictsFilter"<% if (showConflicts) { %> checked <% } %>> <label for="conflictsFilter">View content conflicts</label>
	</div>
		<div class="clear"></div>
</div>


<div id="contentDiffContainer">

</div>
