<div id="navigationBar">
	<div id="navigationBarLocation">Location: <span class="loadRepositoryView clickable">Repository Overview</span> &mdash; <strong>Create Repository</strong></div>
	<div id="navigationBarLogin">Logged in as <strong><%= login.username %></strong></div>
</div>
<div id="titleBar">
	Create Repository
</div>
<div id="view">

				Repository Alias:<br>
				<input id="repositoryAlias" type="text"><br><br>
				Description:<br>
				<input id="repositoryDescription" type="text"><br><br>
				URL to Repository:
				<input id="repositoryUrl" type="text"><br><br>
				<div id="submitCreateRepository" class="button">Create repository</div>

</div>
