<div id="header">
	<span id="headerLogo">CloudStudio</span>
</div>
<div id="navigationBar">
	<span id="navigationLocation"><strong>Login</strong></span>
</div>
<div id="view">

	<table id="invisibleTable">
		<tr>
			<td>
				Username:<br>
				<input id="username" type="text"><br><br>
				Password:<br>
				<input id="password" type="password"><br><br>
				<input type="checkbox" id="rememberMe" checked><label for="rememberMe">Remember me</label>
				<div id="submitLogin" class="button">Login</div>
			</td>
			<td>
				New username:<br>
				<input id="newUsername" type="text"><br><br>
				New password:<br>
				<input id="newPassword" type="password"><br><br>
				<div id="submitCreateUserAndLogin" class="button">Create new user</div>
			</td>
			<td></td>
		</tr>
	</table>

</div>
