
<div id="signupSplash">

	<div id="signupBrand">
		Sign Up for CloudStudio!
	</div>
	<div id="signupBox">
		<p><input id="username" type="text" placeholder="Your desired username"></p>
		<p><input id="password" type="password" placeholder="Choose a password"></p>
		<p><div id="submitSignup" class="button">Create account</div></p>
	</div>
</div>
