<div id="navigationBar">
	<div id="navigationBarLocation">Location: <strong>Profile</strong></div>
	<div id="navigationBarLogin">Logged in as <strong><%= login.username %></strong></div>
</div>

<div id="titleBar">
	Profile
</div>

<div id="view">

	<h2>Change password</h2>

    <p>Password changed successfully.</p>

</div>
